.menu {
    background-color: white;
    box-shadow: 2px -8px 17px -12px rgb(0 0 0 / 42%);
}
.menu-tab {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.menu-container {
    border-bottom: 2px solid lightgray;
}

.menu-tab {
    padding: 1rem;
    cursor: pointer;
    text-transform: uppercase;
    color: red;
}

.menu-tab:hover {
    box-shadow: 0px 2px 0px red;
}

.menu-tab img {
    max-width: 25px;
}

.menu-tab-label {
    font-family: 'Arial';
    font-size: 0.9rem;
    padding-top: 0.3rem;
}

.tab-list {
    display: flex;
    border-bottom: 2px solid lightgray;
}

.tab-list-active {
    box-shadow: 0px 2px 0px red;
}