.message {
    max-width: 600px;
    margin: 2rem auto;
}

.message-item {
    font-size: 0.9rem;
}

.message-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    background-color: white;
    padding: 1.2rem 1rem;
    border-bottom: 1px solid lightgray;
}

.message-title-label {
    display: flex;
    justify-content: space-between;
    width: 94%;
}

.message-title:hover {
    background-color: lightgray;
}

.message-title-label-name,
.message-title-label-subject,
.message-title-label-date {
    flex: 1;
}

.message-title-label-date {
    text-align: right;
}

.message-title,
.message-content {
    padding: 1rem;
}

.message-content {
    margin-bottom: 1rem;
    background-color: white;
    box-shadow: -1px 4px 5px -4px rgb(0 0 0 / 25%);
}

.message-content div {
    padding: 0.5rem 0rem;
}